@import "reset.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
  background-color: #f6f9fc;
}

.canvas {
  width: 500px;
  height: 500px;
  background-color: #FFFF;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.controls .controls__range {
  margin-bottom: 20px;
}

.controls .controls__buttons {
  margin-bottom: 20px;
}

.controls__buttons button {
  all: unset;
  width: 50px;
  height: 20px;
  padding: 4px 4px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
}

.controls__buttons button:active {
  transform: scale(0.98);
}

.controls__buttons button:hover {
  background-color:#73C6B6;
}

.controls__colors {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.3s;
}

.controls__colors .controls__color:hover {
  -webkit-transform: scale(1.1);
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: rgb(167, 167, 167);
  border-radius: 10px;
  margin-top: 100px;
}

.form .form__label {
  margin-bottom: 20px;
  font-family: 'Sunflower', sans-serif;
}

.form .form__input {
  height: 20px;
  border: none;
  border-bottom: 1px solid rgb(46, 46, 46);
  border-radius: 2px;
  text-align: center;
  background-color: transparent;
}

.form .form__input:focus {
  outline: none;
}

.form .form__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 24px;
  margin: 10px;
}

.form__buttons button {
  all: unset;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.8);
  margin: 5px;
  padding: 2px;
  background-color: rgb(26, 26, 26);
  color: #FFFF;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.form__buttons .jsForm-save:hover {
  background-color: rgb(74, 131, 255);
}

.form__buttons .jsForm-back:hover {
  background-color: rgb(255, 74, 74);
}

.hide {
  display: none;
}
